
.about-us{
    margin: 0 auto;  
    width: 50%;
    padding: 50px;  
    text-align: center; 
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.2);
}
  .container {
    max-width: 90%; /* Changed to 90% of the viewport width */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    text-align: center; /* Center align text */
    
  }
  
  .input-field {
    width: calc(100% - 40px); /* Adjusted width */
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .message.user {
    margin: 8px 0;
    background-color: #e7cf80;
    align-self: flex-end; /* Aligns user messages to the right */
  }
  
  .submit-button {
    background-color: #e7cf80;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .summary-container,
  .sources-container {
    margin-top: 20px;
  }
  
  
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  