
/* ImageWithOverlay.css */


/* .image-container img {
    width: 100%;
    display: block; 
} */
.content-separator{
    border: none; /* Remove default border */
    border-top: 1px solid #6f6e6e; /* Add top border to create separator line */
    width: 80%; /* Set the width of the separator line */
    margin: 0 auto;
}
.example-questions{
    z-index: 10; /* Set the z-index to 10 */
    backdrop-filter: blur(10px); /* Apply a blur filter */
    width: 15%; /* Set the width to 15% of the viewport */
}
.dropdown-menu{
  padding-bottom: 5%;
}
.chat-selector{
  padding: 10px;
}

.chat-box-container{
    width: 75%; /* Set the container width to 75% of the viewport */
    /* padding-top: 20%; */
    margin: 0 auto; /* Center the container horizontally */
    backdrop-filter: blur(20px);
    background: rgba(135, 134, 134, 0.315);
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center the content horizontally */
    border: 1px solid #6f6e6e;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.chat-box{
    text-align: center;
}

.bot-icon{
    font-size: 24px;
    padding-right: 10px;
    padding-left: 10px;
}
.bot-icon-answered{
    font-size: 70px;
    padding-right: 10px;
    padding-left: 10px;

}
.bot-response{
    padding: 10px;
    
}
.bot-messages{
    align-items:center;
    display: flex;
}
.bot-sources{
    padding: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.bot-message {
    padding: 10px;
}
.source-container{
    padding: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.source-name{
    padding-top: 80px;
}
.source-item{
    margin-bottom: 10px;
}
.overlay-no-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 10;
}

.chat-input {
  display: flex;
  align-items: flex-start; /* Align items to the start */
  background-color: #2c2c2c; /* Dark background */
  border-radius: 25px; /* Rounded corners */
  padding: 5px; /* Reduced padding */
  width: 100%; /* Full width */
  max-width: 600px; /* Maximum width for the input */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.chat-input textarea {
  flex-grow: 1; /* Allow the input to take available space */
  border: none;
  background: transparent; /* Transparent background */
  color: #ffffff; /* White text */
  padding: 10px;
  border-radius: 25px 0 0 25px; /* Rounded left corners */
  font-size: 16px;
  outline: none; /* Remove focus outline */
  resize: none; /* Disable resizing */
  overflow: hidden; /* Hide overflow */
}

.chat-input textarea::placeholder {
  color: #cccccc; /* Light gray placeholder text */
}

.chat-input button {
  background: none; /* No background */
  border: none; /* No border */
  padding: 0; /* No padding */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 0 25px 25px 0; /* Rounded right corners */
}

.question-icon {
  color: #90AEAD; /* Icon color */
  font-size: 36px; /* Icon size */
}

.question-icon:hover {
  color: #d1e9e8; /* Icon color on hover */
}
  .bot-thinking{
    display: flex;
    align-items: center;
  }
  .dot-container{
    display: flex;
  }
  .dot {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 5px;
    animation: dot-animation 1s infinite; /* Apply the animation */
  }
  @keyframes dot-animation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

  /* .chat-input input[type="text"] {
    flex: 1; 
    padding: 3px; 
    border: 1px solid #ccc; 
    
    border-radius: 7px; 
    outline: none; 
  } */

  