.contact-us {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .contact-us h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-us form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact-us label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .contact-us input,
  .contact-us textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .contact-us textarea {
    min-height: 100px;
  }
  
  .contact-us button {
    background-color: #e7cf80;;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .contact-us button:hover {
    background-color: #ffe99f;;
  }
  