.dropdown-menu {
    margin: 0 30px;
    padding: 8px 16px;
    /* width: 180px; */
    border: none;
    border-radius: 5px;
    
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .dropdown-container{
    padding-top:30px;
  }

  .default-option {
    background-color: #fff7db;; 
  }
  
  .selected-option {
    background-color: #e7cf80;; 
  }