.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeButton{
  align-self: flex-end;
}

.modal-content {
  background-color: white;
  padding: 20px;
}

.plan-types {
  display: flex;
  justify-content: space-around;
}

.plan {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}