.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it overlays above other components */
}

.modal-content {
  background-color: #2c2c2c; /* Darker background for the modal */
  color: #ffffff; /* White text */
  border-radius: 10px;
  padding: 20px;
  text-align: center; /* Center text in modal */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

.modal-content img {
  border-radius: 50%; /* Round image for profile picture */
  margin-bottom: 15px;
}

.unsubscribe-text {
  color: rgb(46, 46, 70);
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
}

.unsubscribe-text:hover {
  color: darkblue; 
  text-decoration: none; 
}

/* .unsubscribe-text {
  background-color: #ff4500; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.unsubscribe-text:hover {
  background-color: #ff6347; 
} */

.ok-buttons {
  display: flex;
  justify-content: space-between; /* Space between buttons */
  margin-top: 20px;
}

.logout-button,
.close-button {
  background-color: #333333; /* Dark button background */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover,
.close-button:hover {
  background-color: #555555; /* Lighter gray on hover */
}

.logout-button {
  margin-right: 10px; /* Space between buttons */
}

.login-button {
  /* background-color: #ffa500;  */
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #90AEAD;
  /* background-color: #333333; */
}

/* .form-container {
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #e7cf80;
  padding: 15px;
  color: white;
  text-align: center;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}





.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 1000;
  padding: 20px;
}

.modal-content {
  background-color: #f2f2f2; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.modal-content img {
  border-radius: 50%; 
  margin-bottom: 15px;
}

.modal-content h2, .modal-content p {
  margin: 10px 0;
}


.ok-buttons button {
  background-color: #4285d2;
  color: white;             
  padding: 5px 10px;         
  border-radius: 5px;        
  cursor: pointer;           
  display: inline-block;     
  text-align: center; 
  margin-left: 5px;
  margin-right: 5px; 
  margin-top:20px;
}

.logout-button:hover{
  background-color: #4f75a1;       
}

.close-button:hover {
  background-color: #4f75a1;
}

.unsubscribe-text {
  color: blue; 
  text-decoration: underline;
  cursor: pointer; 
}

.unsubscribe-text:hover {
  color: darkblue; 
  text-decoration: none; 
} */
