/* TopBar.css */
#website-name {
    text-align: center; 
    font-size: 24px; 
    font-weight: bold; 
    text-transform: uppercase; 
    margin-bottom: 5px;
    
    /* padding-bottom: 1px; */
    
}
#website-name:hover{
  cursor: pointer;
}
#website-description{
    text-align: center; 
    font-size: 12px; 
    font-weight: bold; 
    text-transform: uppercase;
    margin-top: 0;  
}
.name-and-description{
    padding-bottom: 4px;
}
.sign-in-up {
  display: flex; /* Make the buttons sit next to each other */
  justify-content: flex-end; /* Align buttons to the right */
}

.sign-in-up button {
    margin: 0 50px; 
    padding: 4px 8px;
    width: 100px;
    border: none;
    border-radius: 3px;
    background-color: #b3cde6;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
  h1, h2 {
    color: #333;
}
.top-bar {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    background-color: #D4EAFF;
    padding: 0px 20px;
  }
  
  .top-bar button {
    margin: 0 50px; 
    padding: 8px 16px;
    width: 140px;
    border: none;
    border-radius: 5px;
    background-color: #c9e3fb;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .top-bar button:hover {
    background-color: #91a7bb;
  }
  
