/* TopBar.css */
#website-name {
    text-align: center; 
    font-size: 24px; 
    font-weight: bold; 
    text-transform: uppercase; 
    margin-bottom: 5px;
    
    /* padding-bottom: 1px; */
    
}
#website-name:hover{
  cursor: pointer;
}
#website-description{
    text-align: center; 
    font-size: 12px; 
    font-weight: bold; 
    text-transform: uppercase;
    margin-top: 0;  
}
.name-and-description{
    padding-bottom: 4px;
}
.sign-in-up {
  display: flex; 
  justify-content: flex-end; 
}

.sign-in-up button {
    /* margin: 0 50px;  */
    padding: 4px 8px;
    /* width: 100px; */
    border: none;
    /* border-radius: 3px; */
    color: rgb(0, 0, 0);
    background-color: #e7cf8000;
    /* color: rgb(0, 0, 0); */
    font-size: 16px;
    cursor: pointer;
    /* border: 2px solid black; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}
  
  h1, h2 {
    color: #333;
}
.top-bar {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    padding: 0px 20px;
  }
  
  .top-bar button {
    margin: 0 50px; 
    padding: 8px 16px;
    width: 140px;
    border: none;
    border-radius: 5px;
    background-color: #e7cf80;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .top-bar button:hover {
    background-color: #fddf7d;
  }
  
